memory-bank/
dev/
.vscode
.roomodes
.roo/
node_modules/
package-lock.json
package.json
!config/
.rooignore
!config/.rooignore
.windsurfrules
insert-variables.sh
.clinerules-default
rooflow_logo_raw.png
!/config/default-mode/.clinerules-default
